@font-face {
  font-family: 'Duplet Round Semibold';
  src: url('../fonts/DupletRounded-Semibold.otf');
}

@font-face {
  font-family: 'Duplet Round Bold';
  src: url('../fonts/DupletRounded-Bold.otf');
}
